JWT_SECRET=
MONGO_URI=

S3_BUCKET_ENDPOINT=
S3_BUCKET_ACCESS_KEY_ID=
S3_BUCKET_SECRET_ACCESS_KEY=
S3_BUCKET_REGION=
S3_BUCKET_PUBLIC_ENDPOINT=

# GOOGLE_GENERATIVE_AI_API_KEY is optional
# if you want to use google generative ai, you need to set this
GOOGLE_GENERATIVE_AI_API_KEY=

# PORT is optional (default: 3000)
# this is used for railway deploy
PORT=
